@page
@model IndexModel


<h1>Library Management System</h1>

<p>
    Please choose a section to manage:
</p>

<a class="btn btn-primary" asp-page="/Books/Index">Manage Books</a>
<a class="btn btn-secondary" asp-page="/Borrows/Index">Manage Borrows</a>
<a class="btn btn-success" asp-page="/Users/Index">Manage Users</a>